<header class="container mx-auto">
  <div class="px-1 py-1 m-4 mx-auto">{{ page.global_header.sitebranding_particle }}</div>
  <div class="px-1 py-1 m-4 col-auto">{{ page.global_header.utcsecondarymenu_particle }}</div>
  <div class="px-1 py-1 m-4 col-auto">{{ page.global_header.utcsecondarymenu }}</div>
  <div class="px-1 py-1 m-4 col-auto">{{ page.global_header.searchform_particle }}</div>
</header>
