<header class="container mx-auto">
  <div class="px-1 py-1 m-4">{{ page.global_header.sitebranding_particle }}</div>
  <div class="px-1 py-1 m-4">{{ page.global_header.utcsecondarymenu_particle }}</div>
  <div class="px-1 py-1 m-4">{{ page.global_header.utcsecondarymenu }}</div>
  <div class="px-1 py-1 m-4">{{ page.global_header.searchform_particle }}</div>
</header>

{#
  * calling in both kinds of menus to be able to evaluate
  * if we need the Drupal 8 Mega Menu or can get away
  * with using the core menu
#}
