.main-reduce-top-margin {padding-top:0!important;}
.section-container--utc-video-hero,
.section-container--utc-video-hero .container-full,
.section-container--utc-video-hero .container,
.section-container--utc-video-hero .row {
    margin:0!important;
    padding:0!important;
    width:100%!important;
}
.section-container--utc-video-hero .themag-layout__region.section--utc-video-hero {margin-bottom:6rem!important;padding:0!important;}

.block--utc-video-hero {
    @apply h-full overflow-visible relative;
}

.video-hero.youtube { @apply relative h-0 overflow-visible max-w-full;padding-bottom: 56.25%; } 

.block--utc-video-hero-full .video-hero.youtube iframe, 
.block--utc-video-hero-full .video-hero.youtube object, 
.block--utc-video-hero-full .video-hero.youtube embed { @apply absolute left-0 w-full h-full;}

.container .block--utc-video-hero-full .video-hero.youtube iframe, 
.container .block--utc-video-hero-full .video-hero.youtube object, 
.container .block--utc-video-hero-full .video-hero.youtube embed { top:6rem!important;}

.container-full .block--utc-video-hero-full .video-hero.youtube iframe, 
.container-full .block--utc-video-hero-full .video-hero.youtube object, 
.container-full .block--utc-video-hero-full .video-hero.youtube embed { top:4rem!important;}

.container-full .block--utc-video-hero-full .video-hero-wrapper {
    @apply pb-0;
}
.container .block--utc-video-hero-full .video-hero-wrapper {
   @apply pb-8;
}

.block--utc-video-hero a.diagonal {
    @apply border border-white text-white bg-transparent mx-auto py-3 px-4 font-bold;
    background-image: -webkit-linear-gradient(257deg, #fff 50%, transparent 50%);
    background-image: linear-gradient(-257deg, #fff 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: all 750ms ease-in-out;
    transition: all 750ms ease-in-out;
}
.block--utc-video-hero a.diagonal:hover {
    background-position: 0;
    @apply text-utc-new-blue-500;
}

.block--utc-video-hero a.diagonal.light-gray-hero {
    @apply border-utc-new-blue-500 text-utc-new-blue-500;
    background-image: -webkit-linear-gradient(257deg, #112e51 50%, transparent 50%);
    background-image: linear-gradient(-257deg, #112e51 50%, transparent 50%);
}
.block--utc-video-hero a.diagonal.light-gray-hero:hover {
    @apply text-white;
}

@media (max-width:1023px) {
    .container-full .block--utc-video-hero-full .video-hero.youtube iframe, 
    .container-full .block--utc-video-hero-full .video-hero.youtube object, 
    .container-full .block--utc-video-hero-full .video-hero.youtube embed,
    .container .block--utc-video-hero-full .video-hero.youtube iframe, 
    .container .block--utc-video-hero-full .video-hero.youtube object, 
    .container .block--utc-video-hero-full .video-hero.youtube embed { top:0rem!important; }
    .container-full .block--utc-video-hero-full .video-hero-wrapper,
    .container .block--utc-video-hero-full .video-hero-wrapper {
        @apply pb-8;
    }
}
@media screen and (max-height: 420px) and (orientation:landscape){
    .utc-video-hero-container {
        max-width: 80%!important;
        margin: 0 auto!important;
    }
}